<div class="user-details">
  <h1> Featured Hobby Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img  alt="alpaca-java" width=420 src="{{ "/assets/img/alpaca-java.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Alpaca Java </h3>
    <p><a href="https://alpaca.markets/">Alpaca</a> is an API First Commission Free Brokerage. I noticed that Alpaca did not have Java variant of their API and volunteered to create one.  I started the repository on Github and maintained it for a while, but as my free time became more scarce, I handed the 'ownership' reins over to another developer.</p>
    <a class="project-link" target="_blank" href="https://github.com/Petersoj/alpaca-java">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img width=420 alt="eli5-software-technology" src="{{ "/assets/img/eli5.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> ELI5 Software & Technology </h3>
    <p>Software and Technology is full of complicated concepts.  ELI5 stands for 'Explain Like I'm 5', which is a technique to explain something complicated in a way that a 5 year old could understand.  I wanted to create a <a href="https://mainstringargs.github.io/eli5-software-technology/" target="_blank">simple interface</a> that would present 'ELI5' variants of explanations for complex software and technology concepts.</p>
    <a class="project-link" target="_blank"  href="https://github.com/mainstringargs/eli5-software-technology">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img width=420 alt="quest-slayer" src="{{ "/assets/img/quest-slayer.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Quest Slayer </h3>
    <p>Quest Slayer is a concept that I've toyed with in my mind for many years.  I've always wanted to implement a web app that lets users keep track of 'Quests'.  This is currently a Proof of Concept built on <a href="http://questslayer.blogspot.com/" target="_blank">blogspot</a> as it was a free host at the time, but at some point I'd like to move this over to Github pages.</p>
    <a class="project-link" target="_blank"  href="https://github.com/mainstringargs/quest-slayer">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img  width=420 alt="bookshelf" src="{{ "/assets/img/bookshelf.png" | prepend: site.baseurl }}"  />
  </div>
  <div class="contents-right">
    <h3> Bookshelf </h3>
    <p>The Bookshelf is a simple way to keep tracks of the books I've read, want to read, and am currently reading.  What makes this somewhat unique is that the backing yaml data model is kept in a separate repository that is connected to both this 'portfolio' page and <a target="_blank" href="https://mainstringargs.github.io/myshelf/">myshelf</a>.</p>
    <a class="project-link" target="_blank"  href="https://github.com/mainstringargs/myshelf">Check it out</a>
  </div>
</div>
