<div class="user-details">
  <h1> Featured Hobby Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="alpaca-java" src="{{ "/assets/img/alpaca-java.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Alpaca Java </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="eli5-software-technology" src="{{ "/assets/img/eli5.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> ELI5 Software & Technology </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="quest-slayer" src="{{ "/assets/img/quest-slayer.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Quest Slayer </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="bookshelf" src="{{ "/assets/img/bookshelf.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Bookshelf </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
